#root {
  font-family: 'Manrope', sans-serif;
  background-color:#e0f0e3;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  display: flex;
  align-content: center;
  justify-content: center;
}