@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@300;400;500;600;700;800&display=swap');

html, body {
    margin: 0;
    padding: 0;
    background-color: #e0f0e3;
    height: 100%;
    width: 100%;
    min-height: 100%;
    overflow-y: auto;
}

#root {
    display: flex;
    min-height: 100%;
    flex:1; /* does not show black when scrolling to the end */
    
}

.content {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start; /* content to start on the top */
    gap: 20px; 
    width: 100%;
    max-width: 900px; /* better match the title width */
    padding-bottom: 30px;
    overflow: visible;
    
}

.footer {
    background-color: #5EC57E;
    color: white;
    padding: 25px;
    text-align: center;
    width: 100%;
    z-index: 100;
    position: relative;
  }

.custom-h1 {
    font-family: 'Manrope', sans-serif;
    font-size: 3.5rem;
    color: black;
    margin-top: 200px;
    margin-bottom: 10px; /* Reduce bottom margin */
    text-align: center;
    
}

.custom-h2 {
    font-family: 'Manrope', sans-serif;
    font-size: 1.5rem;
    color: black;
    margin-top: 0;
    margin-bottom: 0;
    text-align: center;
    
}

.form-container {
    display: flex;
    flex-direction: column; 
    gap: 20px; /* Increased spacing between groups */
    width: 100%; 
    align-items: flex;
    justify-content: flex;
    text-align: center;
}

.create-account-form-group {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1rem;
    margin-bottom: 10px;
}

label {
    font-weight: 600;
    margin-bottom: 5px;
    color: black;
    font-size: 1.2rem; 
    font-family: 'Manrope', sans-serif;
    align-self: flex-start; 
    margin-left: 20%; /* align the label to the left to match the input */
}

input {
    width: 60%; 
    max-width: 600px; 
    padding: 10px;
    border: 1px solid #2cb67d;
    border-radius: 5px;
    font-size: 1rem;
    font-family: 'Manrope', sans-serif;
    background-color: white;
    color: black;
}
input:focus {
    outline: none;
    border-color: #2cb67d;
}

.selection-boxes {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    justify-content: center;
    width: 100%;
}

.selection-box {
    background-color: white;
    border: 2px solid #2cb67d;
    border-radius: 20px;
    padding: 10px 20px;
    font-family: 'Manrope', sans-serif;
    font-size: 1rem;
    font-weight: 500;
    cursor: pointer;
    color: black;
    transition: all 0.3s ease;
}

.selection-box:hover {
    background-color: white;
    border-color: #2cb67d;
}

.selection-box.selected {
    background-color: #2cb67d;
    color: white;
    border-color: #2cb67d;
}
.buttonStyle {
    background-color: #5EC57E;
    color: white;
    font-weight: bold;
    font-size: 1rem;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    margin-top: 10px;
  }

.warning-message {
    color: red;
    margin-bottom: 10px;
    text-align: center;
  }